<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekkablue.GlyphNote</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GlyphNote</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.4</string>
	<key>CFBundleVersion</key>
	<string>22</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Rainer Erich Scheichelbauer, 2015-2018</string>
	<key>NSPrincipalClass</key>
	<string>GlyphNote</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/mekkablue/NotePalettes/master/GlyphNote.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/mekkablue/NotePalettes</string>
	<key>productReleaseNotes</key>
	<string>update binary files for Glyphs3</string>
</dict>
</plist>
